{% extends "base.html" %}


{% block content %}

<div class="row">

	<h1>Datos del usuario<h1>

	<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">
	<div class="col-sm-6">
		<h1> {{usuarios.first_name}} {{usuarios.last_name}}</h1>
		<h3>Username: {{usuarios.username}} </h3>
		
		<h3>ID de usuario: {{usuarios.perfil.usuario_id}}</h3>		
		<h3>Email: {{usuarios.email}}</h3>
		<h3>Tel. Celular: +56 9 {{usuarios.perfil.tel}}</h3>
		<br>

		<a  class="btn btn-info" href="{% url 'perfil_editar' usuarios.perfil.usuario_id %}" class="a-editar">Datos Perfil</a>


		

		
		
	</div>
	{% if usuarios.perfil.rol == "TUTOR" %}
	<div class="col-sm-6">
	
		<h1>Ingrese datos de Tutor</h1>

		

		<a href="{% url 'tutor_form' perfil=usuarios.perfil.id  %} " class="btn btn-info">Datos de Tutor</a>
		<br><br><br>
		<h1>Ingrese datos de Paciente</h1>
		<a href="{% url 'paciente_form' perfil=usuarios.perfil.id  %} " class="btn btn-info">Datos de Paciente</a>
		<br><br><br><br><br><br><br>
		<a href="{% url 'listtutor' %}" class="btn btn-success">Finalizar Registro</a>
		
	</div>
	{% else %}
	{% if  usuarios.perfil.rol == "PERSONAL"%}
	<div class="col-sm-6">
		

		<h1>Ingrese datos de Personal</h1>
		<a href="{% url 'personal_form' perfil=usuarios.perfil.id %}" class="btn btn-info"> Datos de Personal</a>
		<br><br><br><br><br><br><br>
		<a href="{% url 'listenfermero' %}" class="btn btn-success">Finalizar Registro</a>
		
	</div>

	{% endif %}
	{% endif %}
</div>

{% endblock %}