{% extends "base.html" %}


{% block content %}

<style type="text/css">
	
	table{
		width: 300px;
		height: 100px;
		
	}

	th{
		min-width:280px; 
		font-size: 23px;

	}

	a:link{
		text-decoration: none;

	}
	#fin{
		top:50%;
		left: 50%;
		transform: translate(-100%,600%);
		font-size: 20px;
	}

</style>

<div class="row">

	
	<div class="col-sm-6"> 
		<br>

	
		<table>
			<thead>
				<h1>Datos del usuario<h1><hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">
			</thead>
			<tbody>
				<tr>
					<th>Username:</th>
					<td> {{usuarios.username}} </td>
				</tr>
				<tr>
					<th>Nombre Completo: </th>
					<td>{{usuarios.first_name}}{{usuarios.last_name}}</td>
				</tr>
				<tr>
					<th>Correo Electronico:</th>
					<td>{{usuarios.email}}</td>
				</tr>
			</tbody>
		</table>
		<br>
		<a  href="{% url 'perfil_editar' usuarios.perfil.usuario_id %}" class="a-editar"><h1>Datos Perfil</h1></a><br>
		<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">


		

		
		
	</div>
	{% if usuarios.perfil.rol == "TUTOR" %}
	<div class="col-sm-6" style="margin-top: 15px;">
	
		

		

		<a href="{% url 'tutor_form' perfil=usuarios.perfil.id  %} " ><h1>Datos de Tutor</h1></a>
		<br>
		<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">
		<br><br>
		<a href="{% url 'paciente_form' perfil=usuarios.perfil.id  %} " ><h1>Datos de Paciente</h1></a>
		<br>
		<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">
		<a id="fin" href="{% url 'listtutor' %}" class="btn btn-success">Finalizar Registro</a>
		
	</div>
	{% else %}
	{% if  usuarios.perfil.rol == "PERSONAL"%}
	<div class="col-sm-6" style="margin-top: 15px;">
		

		
		<a href="{% url 'personal_form' perfil=usuarios.perfil.id %}" ><h1> Datos de Personal</h1></a>
		<br>
		<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">
		<a id="fin" href="{% url 'listenfermero' %}" >Finalizar Registro</a>
		
	</div>

	{% else %}
	{% if usuarios.perfil.rol == 'ADMINISTRADOR' %}
		<a id="fin" href="{% url 'dash' %}" >Finalizar Registro</a>
	{% endif %}
	{% endif %}
	{% endif %}

</div>

{% endblock %}