{% extends "base.html" %}


{% block content %}
<h1>Datos de Personal</h1><br>
<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;">

<div class="col-sm-5">
	<form method="POST">
	{% csrf_token%}
	
	<div>
		<label for=id_perfil></label>
		<input type="hidden" name="id_perfil" id="id_perfil" value="{{perfil}}">
	</div>
	<div>
		<label>Rut:</label>
		{{form.rut}}
	</div>
	<div>
		<label>Especialidad:</label>
		{{form.especialidad}}
	</div><br>
		<button class="btn btn-info" type="submit">guardar</button>
	

	<div>
</form>	
</div>
{% endblock %}
