<!--DOCTYPE html -->
{%extends "base.html"%}


<title> {%block head_title %} Hora | {{block.super}} {%endblock head_title%} </title>	

{%  block content %}

<style>

	input[type=text] {
  		border: 2px solid lightblue;
  		border-radius: 4px;
}

	input[type=date] {
  		border: 2px solid lightblue;
  		border-radius: 4px;
  		height: 8%
}  



</style>



<h1>Agendar Hora</h1>

<h2><label>{{object_list.Primer_Nombre}} {{object_list.Primer_Apellido}} {{object_list.Segundo_Apellido}} </label></h2>

</br>
<form method='POST' action=''>{%  csrf_token %}


<div class="wrap-input100 rs1 validate-input">
	<label for="id_Rut"> Rut de Paciente</label></br>
	<input type="text" name="Rut" required id="id_Rut" value="{{num}}" readonly>
	<span class="focus-input100"></span>
</div>
</p>

<p>
<label for="id_Fecha_Visita"> Fecha Visita</label></br>
<input type="date" name="Fecha_Visita" required id="id_Fecha_Visita">
</p>

<input type="submit" value="Save User" class="btn btn-info"/>
</form>

{%  endblock content %}

