<!--DOCTYPE html -->
{%  extends "base.html" %}

<title> {%block head_title %} {{nom}} {{pap}} | {{block.super}} {%endblock head_title%} </title>


{%block content%}

<div class="card text-center">
  <div class="card-header">
    <h1>{{nom}} {{pap}} {{sap}} </h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ instance.Rut}}</h5>

  {%  if instance.Cargo == 1 %}

    <p class="card-text">Domicilio: {{ instance.Domicilio }}</p>
    <p class="card-text">Comuna: {{ instance.Comuna }}</p>

  {% endif %}
    <p class="card-text">Nacionalidad: {{ instance.Nacionalidad}}</p>
    <p class="card-text">Telefono: {{ instance.Telefono}}</p>
    <p class="card-text">Fecha de Nacimiento: {{ instance.Fecha_Nacimiento}}</p>
    <a href="delete" class="btn btn-info" role="button">Delete</a>
    <a href="edit" class="btn btn-info" role="button">Edit</a>

    {% if instance.Cargo == 1%}
    <a href="{% url 'listpa' %}" class="btn btn-info" role="button">Volver</a>

    {% else %}

    <a href="{% url 'listen' %}" class="btn btn-info" role="button">Volver</a>    

    {%  endif %}

  </div>
  <div class="card-footer text-muted">
  </br>
    Last Update {{instance.updated}}
  </div>
</div>


{%endblock content%}

