<!--DOCTYPE html -->

{%  extends "base.html" %}


<title> {%block head_title %} Create | {{block.super}} {%endblock head_title%} </title>	

{%block content%}

<style>
	input[type=text] {
  		border: 2px solid lightblue;
  		border-radius: 4px;
}

	input[type=submit] {
  		background-color: #4CAF50;
  		color: white;
  		padding: 12px 20px;
  		border: none;
  		border-radius: 4px;
  		cursor: pointer;
  		float: right;
  		
}


.contenedor{

	margin-top: 30px;
	padding: 5px; 
	width: 650px; 
	margin-top: 0px; 
	margin-left: -60px;
	border-radius: 3px; 
}

.contenedor2{

	margin-top: 30px;
	padding: 5px; 
	width: 650px; 
	margin-top: -660px; 
	margin-left: 585px;
	border-radius: 3px; 
}		
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="contenedor">

<form method='POST' action=''>{%  csrf_token %}

<div class="w3-container w3-light-blue">
  <h3>Datos Personales Especialista</h3>
</div>
</br>

<p>
<label for="id_Primer_Nombre"> Primer Nombre</label></br>
{{form.Primer_Nombre}}
</p>

<p>
<label for="id_Primer_Apellido">Apellido Paterno</label></br>
{{form.Primer_Apellido}}
</p>

<p>
<label for="id_Segundo_Apellido">Apellido Materno</label></br>
{{form.Segundo_Apellido}}
</p>

<p>
<label for="id_Rut"> Rut Especialista</label></br>
<input type="text" name="Rut" required id="id_Rut">
</p>

<p>
<label for="id_Nacionalidad"> Nacionalidad</label></br>
<select name="Nacionalidad" required id="id_Nacionalidad">
	<option value="Chile">Chile</option>
	<option value="Afganistán">Afganistán</option>
	<option value="Alemania">Alemania</option>
	<option value="Arabia Saudita">Arabia Saudita</option>
	<option value="Argentina">Argentina</option>
	<option value="Australia">Australia</option>
	<option value="Bélgica">Bélgica</option>
	<option value="Bolivia">Bolivia</option>
	<option value="Brasil">Brasil</option>
	<option value="Camboya">Camboya</option>
	<option value="Canadá">Canadá</option>
	<option value="China">China</option>
	<option value="Colombia">Colombia</option>
	<option value="Corea">Corea</option>
	<option value="Costa Rica">Costa Rica</option>
	<option value="Cuba">Cuba</option>
	<option value="Dinamarca">Dinamarca</option>
	<option value="Ecuador">Ecuador</option>
	<option value="Egipto">Egipto</option>
	<option value="El Salvador">El Salvador</option>
	<option value="Escocia">Escocia</option>
	<option value="España">España</option>
	<option value="Estados Unidos">Estados Unidos</option>
	<option value="Estonia">Estonia</option>
	<option value="Etiopia">Etiopia</option>
	<option value="Filipinas">Filipinas</option>
	<option value="Finlandia">Finlandia</option>
	<option value="Francia">Francia</option>
	<option value="Gales">Gales</option>
	<option value="Grecia">Grecia</option>
	<option value="Guatemala">Guatemala</option>
	<option value="Haití">Haití</option>
	<option value="Holanda">Holanda</option>
	<option value="Honduras">Honduras</option>
	<option value="Indonesia">Indonesia</option>
	<option value="Inglaterra">Inglaterra</option>
	<option value="Irak">Irak</option>
	<option value="Irán">Irán</option>
	<option value="Irlanda">Irlanda</option>
	<option value="Israel">Israel</option>
	<option value="Italia">Italia</option>
	<option value="Japón">Japón</option>
	<option value="Jordania">Jordania</option>
	<option value="Laos">Laos</option>
	<option value="Letonia">Letonia</option>
	<option value="Lituania">Lituania</option>
	<option value="Malasia">Malasia</option>
	<option value="Marruecos">Marruecos</option>
	<option value="México">México</option>
	<option value="Nicaragua">Nicaragua</option>
	<option value="Noruega">Noruega</option>
	<option value="Nueva Zelanda">Nueva Zelanda</option>
	<option value="Panamá">Panamá</option>
	<option value="Paraguay">Paraguay</option>
	<option value="Perú">Perú</option>
	<option value="Polonia">Polonia</option>
	<option value="Portugal">Portugal</option>
	<option value="Puerto Rico">Puerto Rico</option>
	<option value="Republica Dominicana">Republica Dominicana</option>
	<option value="Rumania">Rumania</option>
	<option value="Rusia">Rusia</option>
	<option value="Suecia">Suecia</option>
	<option value="Suiza">Suiza</option>
	<option value="Tailandia">Tailandia</option>
	<option value="Taiwán">Taiwán</option>
	<option value="Turquía">Turquía</option>
	<option value="Ucrania">Ucrania</option>
	<option value="Uruguay">Uruguay</option>
	<option value="Venezuela">Venezuela</option>
	<option value="Vietnam">Vietnam</option>

</select>
</p>

<p>
<label for="id_Fecha_Nacimiento"> Fecha Nacimiento</label></br>
<input type="date" name="Fecha_Nacimiento" required id="id_Fecha_Nacimiento">
</p>

<div class="w3-container w3-light-blue">
  <h3>Contacto</h3>
</div>
</br>

<p>
<label for="id_Telefono"> Telefono Tutor</label></br>
<input type="text" name="Telefono" required id="id_Telefono">
</p>

<p>
<label for="id_Email"> Email</label></br>
<input type="text" name="Email" required id="id_Email">
</p>

<div class="w3-container w3-light-blue">
  <h3>Especialidad</h3>
</div>
</br>

<p>
<label for="id_Cargo"> Cargo </label></br>
<input type="radio" name="Cargo" required id="id_Cargo" value="2"> Enfermero  </br> 
<input type="radio" name="Cargo" required id="id_Cargo" value="3"> Kinesiologo </br>
<input type="radio" name="Cargo" required id="id_Cargo" value="4"> Técnico </br>
</p>


<input type="submit" value="Save User" class="btn btn-info"/>
</form>

</div>

</br>
</br>

{%endblock content%}