<!--DOCTYPE html -->
{%extends "base.html"%}
{%  block content %}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<style>

.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}


</style>

<h1>Lista de Especialistas</h1>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>    
                                <th><span>Foto</span></th>
                                <th><span>Nombre Completo</span></th>
                                <th><span>Rut</span></th>
                                <th class="text-center"><span>Especialidad</span></th>
                                <th><span>Email</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for obj in object_list %}
                            	{%if obj.Cargo >= 2 %}

                                <tr>
                                   	<td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                    </td>
                                    <td>                                      
                                        <span class="user-subhead">{{ obj.Primer_Nombre}} {{obj.Segundo_Nombre}} {{ obj.Primer_Apellido}} {{obj.Segundo_Apellido}}</span>
                                    </td>
                                    <td>{{obj.Rut}}</td> 
                                    <td class="text-center">
                                    	{%if obj.Cargo == 2%}
                                        <span class="label label-default">Enfermero</span>
                                        {%endif%}
                                    	{%if obj.Cargo == 3%}
                                        <span class="label label-default">Kinesiologo</span>
                                        {%endif%}
                                    	{%if obj.Cargo == 4%}
                                        <span class="label label-default">Técnico</span>
                                        {%endif%}                                       
                                    </td>
                                    <td>
                                        <a >{{obj.Email}}</a>
                                    </td>
                                    <td style="width: 20%;">
        							
        								<a href='{%  url "detailes" id=obj.idDatosPer %}' class="btn btn-info"> Detail </a></br>                           
        
                                    </td>

                                    	
                                </tr>

										{%endif%}
										{% endfor %}


{%  endblock content %}

