{% extends "base.html" %}
{% load static %}

{% block content %}

<form  method="POST">
	{% csrf_token%}
	<h1>Eliminar Tutor</h1><br>
	<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;"><br>



	<div class="card mb-3" style="max-width: 540px;">
		<div class="row no-gutters">
		  <div class="col-md-4">
			<img src="{%static 'user.png'%}"style="width: 100%; margin-top:40px;">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h5 class="card-title">{{paciente.nombre}} {{paciente.apellido1}} {{paciente.apellido2}}</h5>
			  <p class="card-text">{{paciente.rut}} <br><h6 class="slert alert-warning" style="max-width: 580px;"> PRECAUCIÓN!! <br>Al reingresar un paciente se van a habilitar ciertas opciones de visitas y modificación de información</h6>
			  <p class="card-text"><small class="text-muted"> <h3 class="card-title">¿Desea Reingresar al Paciente</h3>
				<div>
                    <label for="nombre"></label>
                    <input type="hidden" name="nombre" id="nombre" value={{paciente.nombre}}>
                </div> 
  
                <div>
                    <label for="apellido1"></label>
                    <input type="hidden" name="apellido1" id="apellido1" value={{paciente.apellido1}}>
                </div> 
  
                <div>
                    <label for="apellido2"></label>
                    <input type="hidden" name="apellido2" id="apellido2" value={{paciente.apellido2}}>
                </div>
  
                <div>
                    <label for="rut"></label>
                    <input type="hidden" name="rut" id="rut" value={{paciente.rut}}>
                </div>
  
                <div>
                    <label for="comuna"></label>
                    <input type="hidden" name="comuna" id="comuna" value={{paciente.comuna}}>
                </div>
  
                <div>
                    <label for="domicilio"></label>
                    <input type="hidden" name="domicilio" id="domicilio" value={{paciente.domicilio}}>
                </div>
  
                <div>
                    <label for="num_domicilio"></label>
                    <input type="hidden" name="num_domicilio" id="num_domicilio" value={{paciente.num_domicilio}}>
                </div>
  
                <div>
                    <label for="f_nacimiento"></label>
                    <input type="hidden" name="f_nacimiento" id="f_nacimiento" value={{paciente.f_nacimiento}}>
                </div>
  
                <div>
                    <label for="desc"></label>
                    <input type="hidden" name="desc" id="desc" value={{paciente.desc}}>
                </div>
  
                <div>
                    <label for="activo"></label>
                    <input type="hidden" name="activo" id="activo" value=1>
                </div>
  
                <div>
                    <label for="id_tutor"></label>
                    <input type="hidden" name="id_tutor" id="id_tutor" value={{paciente.id_tutor_id}}>
                </div>
  
                <div>
                    <label for="episodio"></label>
                    <input type="hidden" name="episodio" id="episodio" value={{ep}}>
                </div>
                <div style="margin-top: -80px;">
                    <button class="btn btn-danger" type="submit">Reingresar</button>
                    <a href='{%  url "reingreso"%}' class="btn btn-info">Volver</a>
                </div>
  
  
  
             
			</div>
		  </div>
		</div>
	  </div>


	</form>  










{% endblock %}