
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<style>

.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}


</style>

<h1>Lista de Pacientes Antiguos</h1> 

<a href='{% url "registro" %}' class="btn btn-info"> Registrar Nuevo </a>
</br></br></br>

<!-- Metodo Buscar -->

<div class="container">
    <div class="row" >
        <div class="col-md-12 search">
        <form method="get">
            <div id="custom-search-input">
                <input type="text" class="form-control" placeholder="Ingrese Rut" name="buscar">
                <span class="input-group-list">
                    <i class="icon icon-search"></i></br> 
                    <button type="submit" class="button btn btn-info">Buscar</button>
                </span>
                <a href='{% url "reingreso" %}' class="btn btn-info"> Refresh </a>
            </div>
        </form>
    </div>
</div>
</div>



<!-- FIN -->


                                        

{% endblock %}
