{% extends "base_especialista.html" %}

{%block head_title%}
  Editar Perfil
{%endblock head_title%}
{% block content %}

<div class="container" style="margin-top: 20px;">
	<h1>Datos de Personal</h1><br>


<div class="col-sm-5">
	<form method="POST">
	{% csrf_token%}
	
	<div>
		<label for=id_perfil></label>
		<input type="hidden" name="id_perfil" id="id_perfil" value="{{perfil}}">
	</div>
	<div>
		<label>Rut:</label>
		{{form.rut}}
	</div>
	<div>
		<label>Especialidad:</label>
		{{form.especialidad}}
	</div><br>
		<button class="btn btn-info btn-lg btn-block" type="submit">guardar</button>
	

	<div>
</form>	
</div>
</div>
{% endblock %}
