<!--DOCTYPE html -->
{%extends "base_especialista.html"%}
{% load static %}

{%block head_title%}
  Perfil
{%endblock head_title%}

{%  block content %}


<style type="text/css">

.button {
  background-color: #6D213C;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
  
  li a{color:black}

</style>
 
  <!--Container-->
  <div class="container">
    
      <!--Row-->  
      
    

    
    
        
      <!--Right content-->
      <div class="col-md-9 right-content pd-r0 pd-l0">

            <!--About Tab-->
          <section id="about" class="bg-white t-center">
            
            <!--About -->
            <div class="about">
                  
            
            <!--Content-->  
            <div class="content">
              
              <!--Block content-->  
              <div class="block-content mb-100">
                
                  <!--Row-->
                  <div class="row">

                  <div class="col-md-12  ">
                
                <div class="main-title profile">
                                  <h1 class="mb-20"><b> {{actual.first_name}} {{actual.last_name}} </b> </h1>
                                  <a href="{% url 'Especialista_edit' perfil=actual.id id_personal=personal.id %}" class="button" role="button">Editar</a>


                              </div>
                   </div>
                
                <!--End row-->

              </div>
              <!--End block content-->
                      
                <!--Block content-->  
                <div class="block-content mb-100  pb-30">

                    <!--Row-->
                    

                    
                     
                    <!--End row-->                    

                    <!--Row-->
                    
                  <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">

                  <!--Listing-->  
                  <div class="listing mt-40">                                    
                  <div class="listing-inner">
                  <div class="listing-event">
                    <ul class="data left">
                      <li><span class="emph-1">Especialidad</span> :<br>
                      {{personal.especialidad}}</li>
                    </ul>

                    <ul class="data right">
                      <li><span class="emph-1">E-Mail</span> : {{actual.email}} </li>
                      <li><span class="emph-1">Rut</span> : {{personal.rut}} </li>
                      <li><span class="emph-1">Phone</span> : +56 9{{tel}} </li>
                    </ul>

                  </div>
                  </div>

                  </div>
                  <!--End listing-->  

                </div>

                
                <!--End row-->

                </div>
                <!--End block content-->

                  <!--Block content-->  
                  <div class="block-content mb-100 pb-30">

                      <!--Row-->
                        

                      <div class="col-md-12  ">

                        <div class="sub-title mb-40">
                                          <h2 class="uppercase">Team {{name_group}}</h2>
                                      </div>

                       </div>
                      
                      <!--End row-->
      
      
                    
                    <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">
                                        
                    <!--Listing-->  
                    <div class="listing mt-40">
                      
                    <div class="listing-inner">
                    <div class="listing-event">
                      <ul class="data left">
                        {% for g in users_group %}
                        <li class="emph-1">{{g.first_name}}{{g.last_name}} </li>
                       
                        {% endfor %}
                        
                      </ul>                  
                    </div>
                    </div>
                    
                    </div>
                    <!--End listing-->  
                                        
                  </div>
                  
                  </div>

                
                  <!--End block content-->

                <!--Block content-->  
                <div class="block-content mb-100">

                    <!--Row-->
                      

                    <div class="col-md-12  ">

                      <div class="sub-title mb-40">
                                         
                                    </div>

                     </div>
                     
                    <!--End row-->
                  
                </br>
                </br>
                </div>
                <!--End block content-->                
                
                               





{%  endblock content %}

