  <!DOCTYPE html>
<html>
<head>
	<title>Eliminar</title>
</head>
<body>

	<form method="POST">
    {% csrf_token %}
    <div class="card" style="width: 800px;margin-top:20px;margin-left:20px;">
        <h2 class="card-header" >
            <span style="font-size: 60px;">{{archivo.nombre}}</span> <br>
            <span style="font-size: 30px;"> Ruta archivo: {{archivo.file}}</span> <br>
            
        <div class="card-footer">
          <h3 class="card-title">Desea Eliminar el archivo:</h3>
          <p class="card-text" ></p>
            <button class="btn btn-outline-danger" type="submit">Eliminar</button>
            <a href="{% url 'biblioteca'%}" class="btn btn-outline-success">Volver </a>
        </div>
      </div>
 
</form>

</body>
</html>